# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.WebContentList.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Christian Kitte\RiderProjects\YouTubeVideoList5\YouTubeVideoList\.idea\.idea.WebContentList.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
